postfix postfix/main_mailer_type select {{ postfix_mailer_type }}
postfix postfix/mailname string {{ postfix_myhostname }}
postfix postfix/relayhost string {% if postfix_relayhost is defined %}{{ postfix_relayhost }}{% endif %}
